.container {
    background: rgba(10, 10, 10, 0.8);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 80%;
    filter:  drop-shadow(10px 10px 25px rgb(34, 34, 34));
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 5px 15px 15px 15px;
    margin: -42px auto;
}
